.navbar{
    background-color: black;
}
#Navbar{
    background-color: black;
    color: aliceblue;
}
#but{
    margin-left:5%;
}
#profile_img{
   max-width: 20%; 
   border: solid;
   border-color: black;
}
#img1{
    width: 100px;
}