#comp_head{
    background-color:aliceblue;
    font-size: 3em;
    border: solid;
    text-align: center;
    color: black;
}
#comp{
    /* background-color: aqua; */
    margin-top:5%;
}
#comp_post{
    margin-left: 15%;
}
.comp_btn{
    margin-left: 40%;
}